html,
body,
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: ui-monospace;
  font-size: 16px;
  color: white;
  list-style-type: none;
}

body {
  position: relative;
  width: 100vw;
  height: 100svh;
}

dialog::backdrop {
  background: #000c;
}

/* TEMPORARY/TODO */
:checked + canvas {
  outline: 3px solid yellow;
}
